/*
*less部分
*代码用less编辑
*布局用felxbox技术
*图片来自https://www.mi.com/index.html
*图标字体用阿里的iconfont
*   竖线，手机，人像，扳手，客服，购物车，圆点，放大镜，秒表，楼房，f码，
*   sim卡，换汇，人民币，闪电，左右小箭头，左右大箭头，带圈的箭头，方块
*色盘选择就来自https://www.mi.com/index.html

*less script
*Use flexbox to implement layout
*All images are from https://www.mi.com/index.html
*Iconfont is from https://www.iconfont.cn/
*Color shcema just follows the original webpage, https://www.mi.com/index.html
*/
.row-flex {
  display: flex;
  flex-direction: row;
}
.get-triangle {
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  border-left: 10px solid transparent;
}
.position-set-center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: auto;
}
#top-bar {
  width: 100%;
  height: 40px;
  background-color: #333333;
}
#top-bar .shared-wrap {
  width: 1226px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#top-bar .shared-wrap a {
  text-decoration: none;
  color: #b0b0b0;
  font-size: 12px;
  line-height: 40px;
}
#top-bar .shared-wrap a:hover {
  color: white;
}
#top-bar .shared-wrap span {
  font-size: 12px;
  color: #424242;
  margin: 0 -4px;
  line-height: 40px;
}
#top-bar .shared-wrap header {
  display: flex;
  flex-direction: row;
}
#top-bar .shared-wrap header #qr-code {
  position: relative;
}
#top-bar .shared-wrap header #qr-code:hover #triangle {
  display: block;
}
#top-bar .shared-wrap header #qr-code:hover #code-pic {
  height: 148px;
}
#top-bar .shared-wrap header #qr-code #triangle {
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  border-left: 10px solid transparent;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: auto;
  top: 20px;
  display: none;
}
#top-bar .shared-wrap header #qr-code #code-pic {
  width: 124px;
  height: 0;
  overflow: hidden;
  position: absolute;
  left: -39.61px;
  text-align: center;
  box-shadow: 1px 1px 10px 1px rgba(51, 51, 51, 0.4);
}
#top-bar .shared-wrap header #qr-code #code-pic img {
  width: 90px;
  height: 90px;
  margin-top: 20px;
}
#top-bar .shared-wrap #header-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#top-bar .shared-wrap #header-right #shopping-cart {
  width: 120px;
  height: 40px;
  background-color: #424242;
  text-align: center;
  line-height: 40px;
  margin-left: 20px;
}
#top-bar .shared-wrap #header-right #shopping-cart .icon-3 {
  font-size: 18px;
}
#top-bar .shared-wrap #header-right #shopping-cart span {
  margin: 0;
  color: #b0b0b0;
}
#top-bar .shared-wrap #header-right #shopping-cart span:nth-child(2) {
  vertical-align: top;
}
#top-bar .shared-wrap #header-right #shopping-cart:hover {
  background-color: white;
}
#top-bar .shared-wrap #header-right #shopping-cart:hover span {
  color: #ed712e;
}
