/*
*less部分
*代码用less编辑
*布局用felxbox技术
*图片来自https://www.mi.com/index.html
*图标字体用阿里的iconfont
*   竖线，手机，人像，扳手，客服，购物车，圆点，放大镜，秒表，楼房，f码，
*   sim卡，换汇，人民币，闪电，左右小箭头，左右大箭头，带圈的箭头，方块
*色盘选择就来自https://www.mi.com/index.html

*less script
*Use flexbox to implement layout
*All images are from https://www.mi.com/index.html
*Iconfont is from https://www.iconfont.cn/
*Color shcema just follows the original webpage, https://www.mi.com/index.html
*/

// 定义一些共享的样式变量
@shared-wrap-width:1226px;//还可以给轮播图，banner用
@make-center:0 auto;
@top-text-color:rgb(176,176,176);
@top-text-size:12px;
@xiaomi-orange:rgb(237,113,46);
.row-flex{
    display: flex;
    flex-direction: row;
}
.get-triangle{
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
}
.position-set-center {
    position: absolute; 
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    padding: 0;
    margin: auto;

}
// @promotion-width:316px;
// @promotion-height:170px;

// @goods-display-width:234px;
// @goods-display-height:300px;

//top menu, user login, user message & shopping cart

//top menu

// 需要修改 竖线的间距 实现过渡效果 购物车下拉过渡

#top-bar{
    width: 100%;
    height: 40px;
    background-color: rgb(51, 51, 51);

    .shared-wrap{
        width: @shared-wrap-width;
        margin: @make-center;
        .row-flex();
        justify-content: space-between;

        a{
            text-decoration: none;
            color: @top-text-color;
            font-size: @top-text-size;
            line-height: 40px;
            &:hover{
                color: white;
            }
        }

        span{
            font-size: 12px;
            color: rgb(66,66,66);
            margin: 0 -4px;
            line-height: 40px;
        }

        header{
            .row-flex();

            #qr-code{
                position: relative;

                &:hover{
                    #triangle{display: block}
                    #code-pic{height: 148px;}
                }

                #triangle{
                    .get-triangle();
                    .position-set-center();
                    top:20px;
                    display: none;
                }

                #code-pic{
                    width: 124px;
                    height: 0;
                    overflow: hidden;
                    position: absolute;
                    left: -39.61px;
                    text-align: center;
                    box-shadow:1px 1px 10px 1px rgba(51, 51, 51,0.4);

                    img{
                        width: 90px;
                        height: 90px;
                        margin-top: 20px;
                    }    
                }
            }  
        }

        #header-right{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            #shopping-cart{
                width: 120px;
                height: 40px;
                background-color: rgb(66,66,66);
                text-align: center;
                line-height: 40px;
                margin-left: 20px;

                .icon-3{
                    font-size: 18px;
                }
                span{
                    margin: 0;
                    color: @top-text-color;

                    &:nth-child(2){
                        vertical-align: top;
                    }
                }

                &:hover{
                    background-color: white;
                    span{
                        color: @xiaomi-orange;
                    }
                }
            }
        }
    }
}


