/*
*less部分
*代码用less编辑
*布局用felxbox技术
*图片来自https://www.mi.com/index.html
*图标字体用阿里的iconfont
*   竖线，手机，人像，扳手，客服，购物车，圆点，放大镜，秒表，楼房，f码，
*   sim卡，换汇，人民币，闪电，左右小箭头，左右大箭头，带圈的箭头，方块
*色盘选择就来自https://www.mi.com/index.html

*less script
*Use flexbox to implement layout
*All images are from https://www.mi.com/index.html
*Iconfont is from https://www.iconfont.cn/
*Color shcema just follows the original webpage, https://www.mi.com/index.html
*/

// 定义一些共享的样式变量 || some shared styles
@top-text-color:rgb(176,176,176);
@top-text-size:12px;
@xiaomi-orange:rgb(237,113,46);

.shared-wrap{
    width: 1226px;
    margin: 0 auto;
}

.remove-underscore{
    a{
        text-decoration: none;
    }
}

.row-flex{
    display: flex;
    flex-direction: row;
}
.get-triangle{
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
}
.position-set-center {
    position: absolute; 
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    padding: 0;
    margin: auto;
}

.down-transition{
    height: 0px;
    overflow: hidden;
    transition-property: height;
    transition-duration: 0.3s;
}




//top menu, user login, user message & shopping cart
#top-bar{
    width: 100%;
    height: 40px;
    background-color: rgb(51, 51, 51);

    .shared-wrap{
        .row-flex();
        justify-content: space-between;
        .remove-underscore();
        a{
            color: @top-text-color;
            font-size: @top-text-size;
            line-height: 40px;
            &:hover{
                color: white;
            }
        }

        span{
            font-size: 12px;
            color: rgb(66,66,66);
            margin: 0 2px;
            line-height: 40px;
        }

        header{
            .row-flex();

            #qr-code{
                position: relative;

                &:hover{
                    #triangle{display: block}
                    #code-pic{
                        height: 148px;
                    }
                }

                #triangle{
                    .get-triangle();
                    .position-set-center();
                    top:20px;
                    display: none;
                }

                #code-pic{
                    width: 124px;
                    .down-transition;
                    position: absolute;
                    left: -39.61px;
                    text-align: center;
                    box-shadow:1px 1px 10px 1px rgba(51, 51, 51,0.4);
                    
                    img{
                        width: 90px;
                        height: 90px;
                        margin-top: 20px;
                    }   
                    
                    .s-span{
                        display: block;
                        font-size: 16px;
                        color: rgb(66,66,66);
                        margin: 0;
                        line-height: 0;
                    }
                }
            }  
        }

        #header-right{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            #shopping-cart{
                width: 120px;
                height: 40px;
                background-color: rgb(66,66,66);
                text-align: center;
                line-height: 40px;
                margin-left: 20px;
                position: relative;

                .icon-3{
                    font-size: 18px;
                }
                span{
                    margin: 0;
                    color: @top-text-color;

                    &:nth-child(2){
                        vertical-align: top;
                    }
                }

                &:hover{
                    background-color: white;
                    span:not(:last-child){
                        color: @xiaomi-orange;
                    }
                    span:last-child{
                        color: black;
                    }
                    #show-cart{
                        height: 100px;
                    }
                }

                #show-cart{
                    width: 276px;
                    .down-transition;
                    box-shadow:1px 1px 10px 1px rgba(51, 51, 51,0.4);
                    position: absolute;
                    top:40px;
                    left:-156px;
                    text-align: center;
                    line-height: 100px;
                }
            }
        }
    }
}

// icon, navs & search bar
#icon-nav{
    height: 100px;
    .row-flex();
    justify-content: space-around;
    #icon{
        .remove-underscore();
        a{
            background-color: @xiaomi-orange;
            display: block;
            img{
                width: 55px;
                height: 55px;
            }
        }
        
        
    }

}


