/*
给浏览器做设配
此页面是根据ip xr来做
截图的尺寸是 828*1792（css尺寸）
根据100vw = 窗口视口（375px） = css 像素（828px）
所以得到 1px = 0.12077295vw

但是 这个值误差多 ，所以我还是选用 750px
这时候，窗口视口 ： css像素 是 1:2

所以 1px（视口） = 0.13333vw = 2px（css）
然后 1rem = 1 font-size px（css px） in html
为了让实际视口里的font-size（视口px）>=12px，我们的css px 就要 >= 24px

在这里 我不喜欢太大的像素 所以 我就要 这个文件里的 html px = 32px；这样视口就是 16 px
所以 vw = 4.26666666
*/
html {
  /* 3.7333vw = 32px （css px）
    所以这里的 1 rem = 32px；后面的我都会用 rem来表示 px 
    定义px的 时候，需要进行一下数字运算
    */
  width: 100vw;
  height: 100vw;
  font-size: 4.26666667vw;
  background-color: #f1f1f1;
  position: relative;
}
.blank div {
  width: 1.28125rem;
  background-color: #e2e2e2;
}
.line_longer {
  width: 100%;
  height: 0.0625rem;
  background-color: #cbc7c7;
}
.line_long {
  width: 22.15625rem;
  height: 0.0625rem;
  background-color: #d9d9db;
  margin-bottom: 1.5rem;
  float: right;
}
.line {
  width: 20.875rem;
  height: 0.0625rem;
  margin: 0 auto;
  background-color: #d9d9db;
  margin-top: 1rem;
}
header {
  width: 20.875rem;
  height: 3rem;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .date {
  color: #8d8d90;
  font-size: 0.7rem;
}
header h1 {
  color: #000000;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: bolder;
}
header .profile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
header .profile img {
  width: 2.8rem;
}
.sugestn_wraps {
  width: 100%;
  background-color: #e2e2e2;
  box-shadow: 0 0 1rem 1rem #e2e2e2;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}
.sugestn_wraps .wrap {
  flex: initial;
  width: 62.625rem;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #ffffff;
  padding-top: 0.4175rem;
  padding-bottom: 0.4175rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 0.5rem;
}
.sugestn_wraps .wrap:first-of-type {
  margin-left: 1.28125rem;
}
.sugestn_wraps .wrap .sugestn {
  height: 12.525rem;
  margin: 0 auto;
  border-radius: 0.3rem;
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: repeat(5, 3.9rem);
  grid-template-rows: repeat(3, 3.9rem);
}
.sugestn_wraps .wrap .sugestn .ele1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.sugestn_wraps .wrap .sugestn .ele3 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}
.sugestn_wraps .wrap .sugestn .ele img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.2rem;
}
.sugestn_wraps .wrap .sugestn .ele:last-of-type {
  text-align: center;
  line-height: 4rem;
}
.sugestn_wraps .wrap .sugestn .ele:last-of-type a {
  text-decoration: none;
  color: #ea445a;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 2.5rem;
}
.rest_menus {
  width: 100%;
  margin-top: 1.6rem;
  background-color: white;
}
.rest_menus .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1.28125rem;
}
.rest_menus .top .title {
  color: #000000;
  font-weight: bold;
}
.rest_menus .top .show_all_btn a {
  text-decoration: none;
  color: #eb4f64;
}
.rest_menus .musics {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: auto ;
}
.rest_menus .musics .music {
  margin-left: 0.42708333rem;
}
.rest_menus .musics .music:first-of-type {
  margin-left: 1.28125rem;
}
.rest_menus .musics .music img {
  width: 10.4375rem;
  border-radius: 0.3rem;
}
.rest_menus .musics .music .info {
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 0;
}
.rest_menus .musics .music .info .album {
  color: #181818;
}
.rest_menus .musics .music .info .singers {
  color: #a7a7aa;
}
.player {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: rgba(236, 236, 236, 0.96);
  box-shadow: 0 0 1rem #ececec;
}
.player .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.3rem 0;
}
.player .top .song {
  display: flex;
  flex-direction: row;
}
.player .top .song img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  display: block;
  box-shadow: 0 0.2rem 1rem #000000;
  margin-left: 1.28125rem;
  border-radius: 0.3rem;
}
.player .top .song .name {
  padding: 0 1rem;
  color: #151514;
  line-height: 3rem;
  width: 10.4375rem;
  overflow: hidden;
}
.player .top .tools {
  line-height: 3rem;
  padding-right: 1rem;
}
.player .top .tools span {
  font-size: 1.5rem;
}
.player .btm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1.28125rem;
  padding-bottom: 1.5rem;
  padding-top: 0.3rem;
}
.player .btm .ele a {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: #968f86;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
.player .btm .ele a span {
  padding-top: 0.5rem;
  font-size: 0.5rem;
  font-weight: normal;
}
.player .btm .ele a:focus {
  color: #eb4f64;
}
